# WORKNODE CONFIGURATION

[system]
logfile=../../logs/base2.log
workers=100

#this flag forces all workers connect to master specified in backuri
#default false
slave=false


#this section deals with internal http server, used for various stats and monitoring
[http]
host=127.0.0.1
port=8090

[zmq]
#this can be global i.e. * this is outwards looking interface
fronturi=tcp://127.0.0.1:6556

#this needs to be specific interface as it is used internally
#if used only internally use ipc://workers.ipc
backuri=ipc://workers.ipc
#backuri=tcp://172.30.168.38:6666
